.dribbble-icon{
  }
  
  .dribbble:hover .dribbble-icon{ 
      animation: dribbble-bounce .4s ease infinite;
      transform: rotate(360deg);
      transition: all 9s ease-in-out 0s;
  }

  @keyframes dribbble-bounce {
    75% {
        cy: 8px;
     }
     50%{
        cy: 4px
     }
    0%{
        cy:4px
        }
    
  }
  
  